<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>A place for people who find most quotes too long...... </p>


      <button id="randomQuote">Random Quote!</button>
    <ul id="list">

        <li><%= quote.body + " -" + quote.author%></li>

    </ul>

    <form id="addQuote">

        <input type="text" class="form-control" id="quoteBody" placeholder="Add Quote Here!">
        <input type="text" id="quoteAuthor" name="quoteAuthor" placeholder="Add Author Here!">
        <input type="button" value='Save My Quote' id="saveQuote">
      </form>



<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>

</body>

  </body>
</html>
